
.emoji {
    font-family: 'Segoe UI Emoji';
}

.faded {
    opacity: 0.5;
}


/* https://github.com/sparksuite/simplemde-markdown-editor/issues/263#issuecomment-262591099 */   
.simplemde-fullscreen .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.EasyMDEContainer .CodeMirror {
    /* for simplemde-markdown-editor */
    /* height: 450px; */
    box-sizing: content-box; /* see https://github.com/sparksuite/simplemde-markdown-editor/issues/619#issuecomment-374179389 */
}

.cm-s-easymde .cm-comment {
    /* show code blocks in monospace font (when editing) */
    font-family: 'Courier New', Courier, monospace;
    padding: 3px 0px; /* remove gaps from background */
    /* (can't use horizontal padding because it breaks text selection) */
    border-radius: 0;
}

.EasyMDEContainer blockquote {
    /* reduce size of font and make left bar darker */
    font-size: inherit;
    border-left-color: #ddd;
}


@media (min-width: 768px) {
    /* DESKTOP STYLING */
    body {
        background-color: #84c0c0; /* #ddd; */
        overflow-y: scroll; /* always show scroll bar (this prevents
        page jumping around when switching from list to editor) */
    }
    .container {
        max-width: 800px !important; /* limit width when used on desktop */
        background-color: white;
        padding: 0 25px;
    }
}
@media (max-width: 768px) {
    /* MOBILE STYLING */
    .editor-dialog {
        margin-left: -15px; 
        margin-right: -15px;
        /* -15px margin to counteract the 15px margin added by div class="container" on parent.
        This means that content (e.g. the markdown edit box) will go all the way 
        to the sides of the screen. */
    }
}